body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 16px;
}

.logo-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo {
    display: flex;
    margin-left: 150px;
    color: #f9faf8;
    font-size: 24px;
}

.right-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    margin-right: 150px;
    margin-left: auto;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.intro {
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-left: 150px;
    gap: 100px;

}
.left {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    
}

.first-header {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.first-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

div.button button {
    font-size: inherit;
}

.button {
    display: flex;
    text-align: center;
    flex-shrink: 0;
    
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 0;
    height: 35px;
    border-radius: 6px;
    font-weight: bold;
    width: 110px
}


.right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: auto;
    
}

.img {
    display: flex;
    width: 470px;
    height: 220px;
    background-color: #74757a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;

}

/*2nd section*/

.second-section {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
}
.section-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    margin: auto;
}

.items { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    height: 270px;
    box-sizing: border-box;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    gap: 10px;
}

.illustration {
    height: 140px;
    width: 140px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 14px;
}

.illus-subtext {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #1f2937
}

/*quote section*/
.quote-section {
    display: flex;
    background-color: #E5E7EB;
    padding: 90px;
    justify-content: center;
}

.quote-reference {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
}

.reference {
    display: flex;
    color: #1f2937;
    font-size: 24px;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 800;
}

/*cta section*/
.cta-section {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.cta {
    display: flex;
    background-color: #3882f6;
    height: 130px;
    flex: 1;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    
}

.left-cta {
    display: flex;
    flex-direction: column;
    padding-left: auto;
    
}

.header-cta {
    font-size: 24px;
    color: white;
    font-weight: 800;
}

.subtext-cta {
    color: #e5e7eb;
}

.button-cta {
    border-style: solid;
    border-color: white;
    border-radius: 7px;
    border-width: 2px;
    
}

div.button-cta button {
    font-size: inherit;
}

 /*footer*/
.footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-top: auto;
}

.cp {
    display: flex;
    color: #E5E7EB;
}